@page
@model IndexModel
@{
    ViewData["Title"] = "Bank";

    <div class="text-center">
        <h1 class="display-4">Welcome To Bank</h1>

    </div>
}
<style>
    h1 {
        color: blue;
        text-align: center;
        font-size: 30px;
    }
</style>
